<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
        <h1><%= user.firstName + " " + user.lastName %></h1>
        <div class="thumbnail text-center">
            <img alt="user profile image" src="<%= user.avatar %>">
            <div class="caption"><a href="mailto: <%= user.name %>"><%= user.email %></a></div>
            <div class="caption"><%= user.biography %></div>
            <div class="caption"><i class="fas fa-map-marker-alt"></i> <%= user.location %></div>
        </div>
        <div class="text-center">
            <form action="/settings/profile" method="GET">
                <button class="btn btn-light btn-lg">Edit profile</button>
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <h3><%= user.username %>'s campgrounds</h3>
        <ul>
            <% campgrounds.forEach(function(campground) { %>
                <li><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
            <% }); %>
        </ul>
        
        <h3><%= user.username %>'s comments</h3>
        <ul>
            <% comments.forEach(function(comment) { %>
                <li><a href="/campgrounds/<%= comment.campground.id %>"><%= comment.text %></a></li>
            <% }); %>
        </ul>
    </div>
</div>

<% include ../partials/footer %>